<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
            <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        {% endblock %}
    </head>
    <body class="example-wrapper bg-light "  id="body">
        {% include 'template/navbar.html.twig' %}
        {% block body %}
        {% endblock %}
    </body>
    {% include 'template/footer.html.twig' %}
</html>
