{% extends 'base.html.twig' %}

{% block title %} Catalogue de produits {% endblock %}

{% block body %}
    <div class="container">
        <div class="grid ">
            {% set cmpt = 0 %}
            {% for produit in items %}
                {% if produit.disponible == true %}
                    {% if cmpt == 0 %}
                        <div class="row"><br></div>
                        <div class="row">
                    {% endif %}
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <br>
                            <img src="{{ produit.image }}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{ produit.libelleProduit }}</h5>
                                <p class="card-text">Prix : {{ produit.prix }}€</p>
                                <a href="{{ path('produit', {'id' : produit.id  }) }}"  class="btn btn-outline-success">Voir
                                    produit</a>
                            </div>
                        </div>
                    </div>
                    {% if cmpt  == 3 %}
                        {% set cmpt = 0 %}
                        </div>
                    {% else %}
                        {% set cmpt = cmpt + 1 %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div style="margin-left: auto; margin-right: auto;">
            {{ knp_pagination_render(items, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
        </div>
    </div>
    <hr>

{% endblock %}