<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Customize your product shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('panier') }}"><i class="fas fa-shopping-cart"></i> Panier</a>
                </li>
                {% if(app.session.get('role')=='admin') %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('admin') }}"><i class="fas fa-tools"></i> Administration</a>
                    </li>
                {% endif %}
                {% if(app.session.get('email')==null) %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('account') }}"><i class="fas fa-power-off"></i> Se connecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('user') }}"><i class="fas fa-user"></i> Mon compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('account_deconnexion') }}"><i class="fas fa-power-off"></i> Se déconnecter</a>
                    </li>
                {% endif %}
            </ul>
            <span class="navbar-text">
      </span>
        </div>
    </div>
</nav>{#
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/"><i class="fas fa-home"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('panier') }}"><i
                                class="fas fa-shopping-cart"></i> Panier</a>
                </li>
                {% if(app.session.get('role')=='admin') %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('admin') }}"><i
                                    class="fas fa-tools"></i> Administration</a>
                    </li>
                {% endif %}
                {% if(app.session.get('email')==null) %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('account') }}"><i
                                    class="fas fa-power-off"></i> Se connecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('user') }}"><i
                                    class="fas fa-user"></i> Mon compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('account_deconnexion') }}"><i
                                    class="fas fa-power-off"></i> Se déconnecter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>#}