{% extends 'base.html.twig' %}

{% block title %}Ma commande: Saisir adresse de livraison{% endblock %}
{% block javascripts %}
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="../js/adresse.js"></script>
{% endblock %}

{% block body %}
    <div id="form-adr" style="display: flex; align-items: center; flex-direction: column">
        <br><br>
        <h1 id="form-facturation">Adresse de livraison</h1>
        <div id="content">
            <div id="formtitle">
                <div class="manuel btn btn-primary">Renseignez une nouvelle adresse</div>
                <div class="auto btn btn-primary">Choisir dans votre carnet d'adresse</div>
            </div>
            <form method="post" action="{{ path('commande_livraison') }}" id="formmanuel">

                <div class="form-group">
                    <label htmlFor="pays">Pays :</label>
                    <input type="text" name="pays" class="form-control" required>
                </div>
                <div class="form-group">
                    <label htmlFor="cp">Code postale :</label>
                    <input type="text" name="cp" class="form-control"  required>
                </div>
                <div class="form-group">
                    <label htmlFor="ville">Ville :</label>
                    <input type="text" name="ville" class="form-control" required>
                </div>
                <div class="form-group">
                    <label htmlFor="libelle_adr">Nom de rue :</label>
                    <input type="text" name="libelle_adr" class="form-control" required>
                </div>
                <div class="form-group">
                    <label htmlFor="tel">Téléphone :</label>
                    <input type="text" name="tel" class="form-control" required>
                </div>
                <input id="type" name="type" type="hidden" value="manuel">
                <div id="btnform">
                    <input class="btn btn-primary" type="submit" value="Suivant">
                </div>
            </form>
            <form method="post" action="{{ path('commande_payement') }}" id="formauto">
                <label for="le_nom">Choisir une adresse : </label><br/>
                <select name="adr_livraison" id="adr_livraison"  class="form-select" aria-label="Default select example">
                    {% for adresse in adresses %}
                        <option value="{{ adresse.id }}">{{ adresse.Pays }}, {{ adresse.LibelleAdresse }}, {{ adresse.codepostale }} {{ adresse.ville }}</option>
                    {% endfor %}
                </select>
                <input id="type" name="type" type="hidden" value="auto">
                <div id="btnform">
                    <input class="btn btn-primary" type="submit" value="Suivant">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
