{% extends 'base.html.twig' %}

{% block title %}Commande n°{{ commande.id }}{% endblock %}

{% block body %}
    <div><br><br>
        <div class="d-flex d-flex justify-content-center">
            <div class="alert alert-dark" role="alert" style="width: 25rem;">
                <h3> Dates </h3>
                <div>Commande passée le {{ commande.datecommande }}</div>
                <div>Livraison estimé : entre le {{ commande.dateminestime }} et le {{ commande.datemaxestime }}</div>
                <br>
                <h4> Prix de la commande {{ commande.prixtotal }}€</h4>
            </div>
            <div class="alert alert-dark" role="alert" style="width: 25rem;">
                <h3> Informations livraison </h3>
                {% for livraison in commande.adressecommandes %}
                    {% if livraison.type == "livraison" %}
                        <div> Pays : {{ livraison.pays }}</div>
                        <div> CP : {{ livraison.codepostale }}</div>
                        <div> Ville : {{ livraison.ville }}</div>
                        <div> Adresse : {{ livraison.libelleadresse }}</div>
                        <div> Téléphone : {{ livraison.tel }}</div>
                        <div> Client
                            : {{ commande.utilisateur.prenomclient }} {{ commande.utilisateur.nomclient }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <h1 class="display-4 d-flex justify-content-center">Produit(s) commandé(s) :</h1>
        {% for key,produit in produits %}
            <br>
            {% if produit.personnalisations == null %}
                <div class="card" style="width: 30%; margin-right: auto; margin-left: auto">
                    <div class="card-header">Produit {{ key+1 }}: {{ produit.declinaison.produit.libelleproduit }}</div>
                    <div class="card-body">
                        <div>
                            <div>Informations produit</div>
                            <div> Description : {{ produit.declinaison.produit.description }}</div>
                            <div> Déclinaison : {{ produit.declinaison.libelle }}({{ produit.declinaison.coloris }})
                            </div>
                            <div> Prix : {{ produit.declinaison.produit.prix }}</div>
                            <div> Personnalisable : {{ produit.declinaison.produit.personnalisable }}</div>
                            <div> Customisation : non</div>
                            <div> Quantité : {{ produit.quantite }} </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="d-flex">
                    <div class="card" style="width: 20%; margin-left: auto">
                        <div class="card-header">Produit {{ key+1 }}
                            : {{ produit.declinaison.produit.libelleproduit }}</div>
                        <div class="card-body">
                            <div>Informations produit</div>
                            <div> Nom du produit : {{ produit.declinaison.produit.libelleproduit }}</div>
                            <div> Description : {{ produit.declinaison.produit.description }}</div>
                            <div> Déclinaison : {{ produit.declinaison.libelle }}({{ produit.declinaison.coloris }})
                            </div>
                            <div> Prix : {{ produit.declinaison.produit.prix }}</div>
                            <div> Personnalisable : {{ produit.declinaison.produit.personnalisable }}</div>
                            <div> Customisation : oui</div>
                            <div> Quantité : {{ produit.quantite }} </div>
                        </div>
                    </div>
                    <div class="card" style="width: 20%; margin-right: auto;">
                        <div class="card-header">Produit {{ key+1 }}
                            : {{ produit.declinaison.produit.libelleproduit }}</div>
                        <div class="card-body">
                            <h5>Customization :</h5>
                            <div>type : {{ produit.customization.type }}</div>
                            <div>position : {{ produit.customization.position }}</div>
                            {% if produit.customization.type == "txt" %}
                                <div>contenue : {{ produit.personnalisations }}</div>
                            {% else %}
                                <div class="mx-auto card-img">contenue :<img src="data:image/jpeg;base64,{{ produit.personnalisations }}"
                                                          alt="image.jpg"  style="height: 10rem; width: auto"/>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
