{% extends 'base.html.twig' %}

{% block title %}Ma commande: Payement{% endblock %}

{% block body %}
    <div class="payement d-flex flex-column align-items-center">
        <br>
        <h4>Choisissez un mode de payement :</h4>
        <br>
        <div class="mode-payement d-flex justify-content-center">
            <div>
                <a class="btn btn-primary d-flex align-content-center justify-content-center w-100" href="{{ path('commande_recapitulation') }}"><i class="fab fa-paypal fa-2x"></i> Par paypal </a>
            </div>
            <div style="padding: 20px">
                OU
            </div>
            <div>
                <a class="btn btn-warning d-flex align-content-center justify-content-center w-100" href="{{ path('commande_recapitulation') }}"><i class="fas fa-credit-card fa-2x"></i> Par carte bancaire</a>
            </div>
        </div>
    </div>
{% endblock %}
