{% extends 'base.html.twig' %}

{% block title %}Ma commande: Récapitulatif{% endblock %}

{% block body %}
    <br><br>
    <h2 class="d-flex justify-content-center">Merci pour votre commande {{ User.PrenomClient }},</h2>
    <br>
    <div class="d-flex justify-content-center">
        <div class="card" style="margin: 10px">
            <div class="recap-adr-item">
                <div class="card-header">Adresse de facturation</div>
                <div class="card-body">
                    <div>{{ Adresse.facturation.LibelleAdresse }}</div>
                    <div>{{ Adresse.facturation.codepostale }} {{ Adresse.facturation.ville }}</div>
                    <div>{{ Adresse.facturation.pays }}</div>
                </div>
            </div>
        </div>
        <div class="card" style="margin: 10px">
            <div class="recap-adr-item">
                <div class="card-header">Adresse de livraison</div>
                <div class="card-body">
                    <div>{{ Adresse.livraison.LibelleAdresse }}</div>
                    <div>{{ Adresse.livraison.codepostale }} {{ Adresse.livraison.ville }}</div>
                    <div>{{ Adresse.livraison.pays }}</div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 70%; margin-right: auto; margin-left: auto">
        <h4>Votre commande</h4>
        <table class="table">
            <thead>
            <tr class="table-active">
                <th scope="col">Produit</th>
                <th scope="col">Déclinaison</th>
                <th scope="col">Personnalisable</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Personnalisé</th>
            </tr>
            </thead>
            <tbody>
            {% for item in Produits %}
                {% for key,type in item %}
                    <tr>
                        <td>{{ type.Produit.libelleproduit }}</td>
                        <td>{{ type.Produit.LibelleProduit }}</td>
                        <td>{{ type.Produit.personnalisable }}</td>
                        <td>{{ type.Produit.prix }}</td>
                        <td>{{ type.Quantity }}</td>
                        {% if key == 'base' %}
                            <td>
                                <div class="badge rounded-pill bg-danger text-white">Non-personnalisé</div>
                            </td>
                        {% else %}
                            <td>
                                <div class="badge rounded-pill bg-info text-white">personnalisé</div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3"> Total :</td>
                <td> {{ Total }}</td>
            </tr>
            </tfoot>
        </table>
        <h4>Livraison prévu entre le {{ Date.min }} et le {{ Date.max }}</h4>
    </div>
{% endblock %}
