{% extends 'base.html.twig' %}

{% block title %} Votre Panier {% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div style="width: 70%; margin-right: auto; margin-left: auto">
            <br><br>
            <h1>Votre panier</h1>
            <br><br>
            <div class="table-responsive-sm">
                {% if items | length > 0 or itemsCustom | length > 0 %}
                    <table class="table">
                        <thead>
                        <tr class="table-active">
                            <th scope="col">Produit</th>
                            <th scope="col">Déclinaison</th>
                            <th scope="col">Personnalisable</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Supprimer</th>
                            <th scope="col">Personnaliser</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if items | length > 0 %}
                            {% for item in items %}
                                <tr>
                                    <td scope="row">{{ item.produit.LibelleProduit }}</td>
                                    <td>{{ item.declinaison.libelle }}</td>
                                    <td>{{ item.produit.personnalisable }}</td>
                                    <td>{{ item.produit.prix }} €</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>
                                        <a href="{{ path('panier_remove', {'id' : item.declinaison.id  ,'type' : item.type }) }}"
                                           class="btn btn-danger">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                    {% if item.produit.personnalisable == "Oui" %}
                                        <td>
                                            <a href="{{ path('produit_custom', {'id' : item.declinaison.id  }) }}"
                                               class="badge rounded-pill bg-success text-white" style="text-decoration: none">
                                                Personnaliser
                                            </a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <div class="badge rounded-pill bg-danger text-white">Non-personnalisable</div>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if itemsCustom | length > 0 %}
                            {% for key,item in itemsCustom %}
                                <tr>
                                    <td>{{ item.produit.LibelleProduit }}</td>
                                    <td>{{ item.declinaison.libelle }}</td>
                                    <td>{{ item.produit.personnalisable }}</td>
                                    <td>{{ item.produit.prix }} €</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>
                                        <a href="{{ path('panier_remove_custom', {'id' : item.declinaison.id  ,'key' : key }) }}"
                                           class="btn btn-danger">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <div class="badge rounded-pill bg-info text-white">Déjà personnalisé</div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3"> Total :</td>
                            <td> {{ prixTotal }} €</td>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="btn-panier">
                    {% if(app.session.get('email')==null) %}
                        <a class=" btn btn-info" href="{{ path('account') }}"><i class="fas fa-power-off"></i> Se
                            connecter</a>
                    {% else %}
                        <a class="btn btn-warning" href="{{ path('commande_facturation') }}"><i
                                    class="fas fa-lock"></i>
                            Commander </a>
                    {% endif %}
                {% else %}
                    </div>
                    <p>Votre panier est vide !</p>
                {% endif %}
            </div>
        </div>
    </div>
    <br><br><br><br>
{% endblock %}