{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="card mx-auto" style="width: 50rem; margin-top: 5rem">
        <div class="card-header">Ajouter une adresse</div>
        <div class="card-body mx-auto">
            <form method="post" action="{{ path('user_adresse_add') }}" id="formaddadr" >

                <div class="row" style="margin: 1rem">
                    <label htmlFor="pays" class="col">Pays :</label>
                    <input type="text" name="pays" class="col" required>
                </div>
                <div class="row" style="margin: 1rem">
                    <label htmlFor="cp" class="col">Code postale :</label>
                    <input type="text" name="cp" class="col" required>
                </div>
                <div class="row" style="margin: 1rem">
                    <label htmlFor="ville" class="col">Ville :</label>
                    <input type="text" name="ville" class="col" required>
                </div>
                <div class="row" style="margin: 1rem">
                    <label htmlFor="libelle_adr" class="col">Nom de rue :</label>
                    <input type="text" name="libelle_adr" class="col" required>
                </div>
                <div class="row" style="margin: 1rem">
                    <label htmlFor="tel" class="col">Téléphone :</label>
                    <input type="text" name="tel" class="col" required>
                </div>
                <div id="btnform" class="mx-auto row" style="margin: 1rem">
                    <input class="btn btn-success" type="submit" value="Ajouter">
                    <a href="http://localhost/user" class="btn btn-danger ">
                        <i class="fas fa-times"></i> Annuler
                    </a>
                </div>

            </form>
        </div>
    </div>
{% endblock %}