{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="card mx-auto" style="width: 50rem; margin-top: 5rem">
        <div class="card-header">Changer l'email utilisateur</div>
        <div class="card-body">
            <form method="post" action="{{ path('user_modifier_email') }}" style="display: flex">
                <div>
                    <label htmlFor="email" class="card-text">Nouvelle email :</label>
                    <input type="email" name="email" required>
                </div>
                <div>
                    <input class="btn btn-success" type="submit" value="modifier">
                </div>
                <div>
                    <a href="http://localhost/user" class="btn btn-danger">
                        <i class="fas fa-times"></i> Annuler
                    </a>
                </div>
            </form>
            <small>Format : exemple@gmail.com</small>
        </div>
    </div>
{% endblock %}