{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="card mx-auto" style="width: 50rem; margin-top: 5rem">
        <div class="card-header">Changer nom d'utilisateur</div>
        <div class="card-body">
            <form method="post" action="{{ path('user_modifier_nom') }}" style="display: flex">
                <div>
                    <label htmlFor="nom" class="card-text">Nouveau nom :</label>
                    <input type="text" name="nom" required>
                </div>
                <div>
                    <input class="btn btn-success" type="submit" value="modifier">
                </div>
                <div>
                    <a href="http://localhost/user" class="btn btn-danger">
                        <i class="fas fa-times"></i> Annuler
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}