{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="card mx-auto" style="width: 50rem; margin-top: 5rem">
        <div class="card-header">Changer numéro de téléphone utilisateur</div>
        <div class="card-body">
            <form method="post" action="{{ path('user_modifier_tel') }}" style="display: flex">
                <div>
                    <label htmlFor="tel">Nouveau numéro de téléphone :</label>
                    <input type="tel" name="tel" pattern="[0-9]{10}" required>
                </div>
                <div>
                    <input class="btn btn-success" type="submit" value="modifier">
                </div>
                <div>
                    <a href="http://localhost/user" class="btn btn-danger">
                        <i class="fas fa-times"></i> Annuler
                    </a>
                </div>
            </form>
            <small> Format: 0606060606</small>
        </div>
    </div>
{% endblock %}