{% extends 'base.html.twig' %}

{% block title %} Customise ton produit ! {% endblock %}

{% block javascripts %}
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
{% endblock %}

{% block body %}
    <div id="form-adr">
        <h1 id="form-facturation">Customise ton produit avec :</h1>

        <h4>Produit selectionné :</h4>
        <div class="produit-custom">
            <img class="img-custom" src="{{ produit.image }}">
            <div>
                <div>{{ produit.LibelleProduit }}</div>
                <div style="color: {{ decli.coloris }}">{{ decli.libelle }}</div>
            </div>
        </div>

        <div id="content">
            <div id="formtitle">
                <div class="type_img"> Une photo</div>
                <div class="type_txt"> Un message</div>
            </div>
            <form method="post" action="{{ path('panier_add_custom', {'id' : decli.id  }) }}" id="formimg" enctype="multipart/form-data">
                <label for="position">Choisir la position : </label><br/>
                <select name="position" id="position">
                    <option value="up"> En haut</option>
                    <option value="down"> En bas</option>
                    <option value="right"> À droite</option>
                    <option value="left"> À gauche</option>
                </select>
                <div class="field">
                    <label for="image">Chosissez votre image (JPG ou PNG | limite : 2Mo) :</label><br/>
                </div>
                <div class="field">
                    <input type="hidden" name="MAX_FILE_SIZE" value="2097152" />
                    <input type="file" name="image" id="icone" accept="image/*"/><br/>
                </div>
                <input id="type" name="type" type="hidden" value="img">
                <div id="btnform">
                    <input class="btn-validate" type="submit" value="Enregistrer">
                </div>
            </form>
            <form method="post" action="{{ path('panier_add_custom', {'id' : decli.id  }) }}" id="formtxt">
                <div>
                    <label for="position">Choisir la position : </label><br/>
                    <select name="position" id="position">
                        <option value="up"> En haut</option>
                        <option value="down"> En bas</option>
                        <option value="right"> À droite</option>
                        <option value="left"> À gauche</option>
                    </select>
                </div>
                <div class="field">
                    <label for="le_nom">Votre message : </label><br/>
                </div>
                <div class="field">
                    <input type="text" id="msg" name="msg" required
                           minlength="1" maxlength="20" size="20">
                </div>
                <input id="type" name="type" type="hidden" value="txt">
                <div id="btnform">
                    <input class="btn-validate" type="submit" value="Enregistrer">
                </div>
            </form>
        </div>
    </div>
{% endblock %}