{% extends 'base.html.twig' %}

{% block title %} Un Produit {% endblock %}

{% block body %}
    <div>
        <br>
        <div class="card mx-auto" style="width: 60%;">
            <h5 class="card-header">{{ produit.libelleProduit }} </h5>
            <div class="card-body">
                <div id="carouselExampleControls" class="carousel slide w-70 mx-auto" data-bs-ride="carousel">
                    <div class="carousel-inner mx-auto">
                        <div class="carousel-item active">
                            <img src="{{ produit.image }}" class="d-block h-100" style="margin-left: auto; margin-right: auto;" alt="...">
                        </div>
                        {% for image in produit.images %}
                            <div class="carousel-item ">
                                <img src="/images/{{ image.path }}" class="d-block h-100" style="margin-left: auto; margin-right: auto;" alt="...">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <p class="card-text">Description : {{ produit.description }}</p>
                <p class="card-text">Personnalisable : {{ produit.personnalisable }}</p>
                <h5 class="card-title">Prix : {{ produit.prix }}€</h5>

                <div class="text-center">
                    {% if produit.disponible == true %}
                        {% for key,decli in declinaisons %}
                            <div class="btn" style="background-color: {{ decli.coloris }}">
                                <div>{{ decli.libelle }}</div>
                                <a class="btn btn-outline-light" href="{{ path('panier_add', {'id' : decli.id }) }}"> Ajouter au panier <i
                                            class='fas fa-cart-plus'></i></a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h3> Produit indisponible </h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}