{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block javascripts %}
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/form.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
{% endblock %}

{% block body %}
    <br>
    <div style="display: flex; justify-content: center">
        <div id="formtoaccount">
            <div id="formtitle">
                <div class="connectaccount btn btn-primary">Connexion</div>
                <div class="newaccount  btn btn-primary">Inscription</div>
            </div>
            <br>
            <div id="formtoaccount_content"></div>
        </div>
    </div>
{% endblock %}
