{% extends 'base.html.twig' %}

{% block title %}Mes adresses{% endblock %}

{% block body %}
    <div style="width: 70%; margin-right: auto; margin-left: auto">
        <div class="table-responsive-sm">
            {% if adresses | length > 0 %}
                <br><br>
                <table class="table">
                    <thead>
                    <tr class="table-active">
                        <th scope="col">Pays</th>
                        <th scope="col">Code postale</th>
                        <th scope="col">Ville</th>
                        <th scope="col">Nom de rue</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col"> Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for adresse in adresses %}
                        <tr>
                            <td>{{ adresse.pays }}</td>
                            <td>{{ adresse.CodePostale }}</td>
                            <td>{{ adresse.ville }}</td>
                            <td>{{ adresse.LibelleAdresse }}</td>
                            <td>{{ adresse.tel }}</td>
                            <td>
                                <a href="{{ path('user_adresse_remove', {'adresse_id' : adresse.id  }) }}" class="btn btn-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <br><br>
                <p>Votre carnet d'adresse est vide !</p>
                <br><br>
            {% endif %}
            <div id="btnadresse">
                <a href="{{ path('user_modifier', {'donnee' : "Adresse"  }) }}" class="btn btn-success"> <i class="fas fa-plus"></i> Ajouter adresse</a>
            </div>
        </div>
    </div>
{% endblock %}
