{% extends 'base.html.twig' %}

{% block title %}Mon historique de commandes{% endblock %}

{% block body %}
    <div class="container">
        <div class="grid ">
            {% if Commandes | length > 0 %}
                {% for Commande in Commandes %}
                    <br><br>
                    <div class="row card">
                            <div class="card-header flex-"> Commande n°{{ Commande.id }}</div>
                            <div class="card-body d-flex justify-content-between">
                                <div class="card-text">Commande passé le : {{ Commande.datecommande }}</div>
                                <a href="{{ path('user_commande', {'commande_id' : Commande.id  }) }}" class="btn btn-outline-primary">
                                    <i class="fas fa-search"></i> Voir commande</a>
                            </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3> Votre historique de commande est vide !</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
