{% extends 'base.html.twig' %}

{% block title %}Ma commande{% endblock %}

{% block body %}
    <br><br>
    <div class="d-flex justify-content-around">
        {% for Adresse in Adresses %}
        <div class="card">
            <div class="card-header">Adresse {{ Adresse.type }}</div>
            <div class="card-body">
                <div class="card-text">Pays : {{ Adresse.pays }}</div><br>
                <div class="card-text">Adresse : {{ Adresse.libelleAdresse }}, {{ Adresse.codePostale }} {{ Adresse.ville }}</div><br>
                <div class="card-text">Téléphone : {{ Adresse.tel }}</div><br>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center"></div>
    <div style="width: 70%; margin-right: auto; margin-left: auto" class="table-responsive-sm">
        <br><br>
        <table class="table">
            <thead>
            <tr class="table-active">
                <th scope="col">Produit</th>
                <th scope="col">Déclinaison</th>
                <th scope="col">Personnalisé</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
            </tr>
            </thead>
            <tbody>
            {% for Produit in Produits %}
                <tr>
                    <td>{{ Produit.produit.LibelleProduit }}</td>
                    <td>{{ Produit.decli.Libelle }}</td>
                    {% if Produit | length > 4 %}
                        <td> Oui</td>
                    {% else %}
                        <td> Non</td>
                    {% endif %}
                    <td>{{ Produit.produit.prix }}</td>
                    <td>{{ Produit.quantite }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3"> Total :</td>
                <td> {{ total }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
