{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<div class="example-wrapper">
    <br><br>
    <div class="card w-50 mx-auto">
        <div class="card-header">
            Informations personnelles
        </div>
        <table class="d-flex justify-content-around">
            <tbody>
                <tr>
                    <th>Nom: </th>
                    <td class="personnal-info">{{ user.NomClient }}</td>
                    <td class="personnal-info">
                        <a href="{{ path('user_modifier', {'donnee' : "Nom"  }) }}" class="btn btn-outline-primary">
                            <i class="fas fa-cog"></i> Modifier
                        </a>
                    </td>
                </tr>
                <tr><br></tr>
                <tr>
                    <th>Prénom : </th>
                    <td class="personnal-info">{{ user.PrenomClient }}</td>
                    <td class="personnal-info">
                        <a href="{{ path('user_modifier', {'donnee' : "Prenom"  }) }}" class="btn btn-outline-primary">
                            <i class="fas fa-cog"></i> Modifier
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Téléphone : </th>
                    <td class="personnal-info">{{ user.Tel }}</td>
                    <td class="personnal-info">
                        <a href="{{ path('user_modifier', {'donnee' : "Tel"  }) }}" class="btn btn-outline-primary">
                            <i class="fas fa-cog"></i> Modifier
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Email: </th>
                    <td class="personnal-info">{{ user.Email }}</td>
                    <td class="personnal-info">
                        <a href="{{ path('user_modifier', {'donnee' : "Email"  }) }}" class="btn btn-outline-primary">
                            <i class="fas fa-cog"></i> Modifier
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td class="personnal-info"> </td>
                    <td class="personnal-info">
                        <a href="{{ path('user_modifier', {'donnee' : "Password"  }) }}" class="btn btn-outline-primary">
                            <i class="fas fa-cog"></i> Modifier
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <div id="btnadresse" class="mx-auto">
            <a href="{{ path('user_adresse') }}" class="btn btn-primary">
                <i class="fas fa-address-book"></i> Voir mon carnet d'adresse
            </a>
        </div>
        <br>
    </div>
    <br><br>
    <div class="text-center"><a href="{{ path('user_commande_history') }}" class="btn btn-outline-primary">Historique de mes commandes</a></div>
</div>
{% endblock %}
