.btn {
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 2px;
}

td {
    padding-top: 20px;
}

img {
    width: 270px;
    height: 180px;
}

.produit {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.produit-description {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

#nav-bar {
    background-color: white;
    overflow: hidden;
    position: sticky;
    margin-top: 15px;
    padding-top: 0px;
    padding: 20px;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-btn {
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.btn-prod {
    text-decoration: none;
    color: black;
    text-align: left;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.btn-np {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.btn-np:hover {
    background-color: #ddd;
    color: black;
}

.end-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.example-wrapper {
    width: 95%;
    font: 18px/1.5 sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example-wrapper code {
    background: #F5F5F5;
    padding: 2px 6px;
}

.decli-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-prod {
    text-align: center;
    margin: auto;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn-decli {
    padding: 20px;
    color: white;
    text-align: center;
}

.decli {
    border-radius: 2px;
    padding: 20px;
    color: white;
    text-align: center;
}

.decli-libelle {
    text-align: center;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
}

.shop {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.first a,
.previous a,
.page a,
.current a,
.next a,
.last a {
    text-decoration: none;
    color: black;
}

.current {
    color: #0B7FC7;
}


.pagination {
    padding: 100px;
}

#formtitle {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;

}

#formtoaccount,
.add-form,
#content {
    display: flex;
    flex-direction: column;
    background-color: #CECECE;
    width: 25em;
    border-top: 10px solid black;
    padding: 20px;
}

#formtoaccount_content {
    display: flex;
    justify-content: center;
}

#myform {
    display: flex;
    justify-content: center;
}

#accounton {
    font-weight: bold;
}

#accountoff {
    font-weight: normal;
}

.field {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#btnform {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

input, textarea {
    border: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    background: #f8f4e5;
    outline: none;
    padding: 10px;
}

.class_column {
    padding-right: 40px;
}

.btn-change {
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    border-radius: 2px;
    text-decoration: none;
}

.btn-cancel {
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 2px;
    text-decoration: none;
    margin-top: 10px;
}

.btn-validate {
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 2px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.personnal-info {
    padding: 10px;
}

.change-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.btn-panier-content {
    display: flex;
    text-decoration: none;
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 2px;
    justify-items: center;
    background-color: #0d5aa7;
    align-items: center;
}

.btn-panier {
    display: flex;
    justify-content: flex-end;
}

#btnadresse {
    text-align: center;
    margin: 20px;
}

.payement {
    display: flex;
    border-radius: 3px;
    background: #CECECE;
    border-top: 10px solid black;
    width: 40%;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.btn-payement {
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    color: blue;
}

.mode-payement {
    display: flex;
    justify-content: space-around;
}

.item-payement {
    width: 5em;
}

.recap-adr,
.produit-custom {
    display: flex;
}

.recap-adr-item {
    padding: 50px;
}

.img-custom {
    width: 135px;
    height: 90px;
}
